In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_resposta = pd.DataFrame()

In [3]:
features = list(df_test)
features.append('NU_NOTA_MT')

In [4]:
df_resposta['NU_INSCRICAO'] = df_test['NU_INSCRICAO']

In [5]:
df_train = df_train[features]

In [25]:
df_train.head(10)

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,NU_NOTA_MT
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,43,RS,24,M,1,1,1,4,1,...,520.0,D,D,C,A,A,C,H,A,399.4
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,23,CE,17,F,3,1,2,0,2,...,580.0,A,A,B,A,A,A,NaN,A,459.8
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,23,CE,21,F,3,1,3,0,1,...,NaN,D,D,C,A,A,A,NaN,A,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,33,RJ,25,F,0,1,1,9,1,...,NaN,H,E,E,C,B,C,F,D,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,13,AM,28,M,2,1,1,4,1,...,NaN,E,D,C,A,A,B,F,A,NaN
5,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,29,BA,18,F,1,1,1,1,1,...,620.0,E,E,C,B,B,A,NaN,A,364.5
6,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,51,MT,18,F,3,1,2,0,2,...,560.0,E,D,C,B,B,C,E,A,529.2
7,2eb189d4912f64b19d1967e8e84b6141aba18770,43,RS,18,F,1,1,1,1,1,...,620.0,G,F,L,B,B,A,NaN,D,566.7
8,5822cb43e0800429be2084b3f86a63aaa73fa66c,26,PE,16,F,3,1,2,0,2,...,680.0,H,E,B,A,B,A,NaN,A,372.4
9,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,31,MG,24,M,4,2,4,0,1,...,NaN,H,E,G,B,B,B,H,A,NaN

In [16]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 78 columns):
CO_UF_RESIDENCIA     4576 non-null int64
NU_IDADE             4576 non-null int64
TP_SEXO              4576 non-null int64
TP_COR_RACA          4576 non-null int64
TP_NACIONALIDADE     4576 non-null int64
TP_ST_CONCLUSAO      4576 non-null int64
TP_ANO_CONCLUIU      4576 non-null int64
TP_ESCOLA            4576 non-null int64
IN_TREINEIRO         4576 non-null int64
IN_BAIXA_VISAO       4576 non-null int64
IN_CEGUEIRA          4576 non-null int64
IN_SURDEZ            4576 non-null int64
IN_DISLEXIA          4576 non-null int64
IN_DISCALCULIA       4576 non-null int64
IN_SABATISTA         4576 non-null int64
IN_GESTANTE          4576 non-null int64
IN_IDOSO             4576 non-null int64
TP_PRESENCA_CN       4576 non-null int64
TP_PRESENCA_LC       4576 non-null int64
NU_NOTA_CN           4576 non-null float64
NU_NOTA_CH           4576 non-null float64
NU_NOTA_LC           4576 non-null float64
TP_LINGUA            4576 non-null int64
TP_STATUS_REDACAO    4576 non-null float64
NU_NOTA_COMP1        4576 non-null float64
NU_NOTA_COMP2        4576 non-null float64
NU_NOTA_COMP3        4576 non-null float64
NU_NOTA_COMP4        4576 non-null float64
NU_NOTA_COMP5        4576 non-null float64
NU_NOTA_REDACAO      4576 non-null float64
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_C                  4576 non-null uint8
Q_D                  4576 non-null uint8
Q_E                  4576 non-null uint8
Q_F                  4576 non-null uint8
Q_G                  4576 non-null uint8
Q_H                  4576 non-null uint8
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_C                  4576 non-null uint8
Q_D                  4576 non-null uint8
Q_E                  4576 non-null uint8
Q_F                  4576 non-null uint8
Q_G                  4576 non-null uint8
Q_H                  4576 non-null uint8
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_C                  4576 non-null uint8
Q_D                  4576 non-null uint8
Q_E                  4576 non-null uint8
Q_F                  4576 non-null uint8
Q_G                  4576 non-null uint8
Q_H                  4576 non-null uint8
Q_I                  4576 non-null uint8
Q_J                  4576 non-null uint8
Q_K                  4576 non-null uint8
Q_L                  4576 non-null uint8
Q_M                  4576 non-null uint8
Q_N                  4576 non-null uint8
Q_O                  4576 non-null uint8
Q_P                  4576 non-null uint8
Q_Q                  4576 non-null uint8
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_C                  4576 non-null uint8
Q_D                  4576 non-null uint8
Q_E                  4576 non-null uint8
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_C                  4576 non-null uint8
Q_A                  4576 non-null uint8
Q_B                  4576 non-null uint8
Q_C                  4576 non-null uint8
Q_D                  4576 non-null uint8
Q_E                  4576 non-null uint8
dtypes: float64(10), int64(20), uint8(48)
memory usage: 1.3 MB

In [6]:
df_train.drop(['NU_INSCRICAO', 'SG_UF_RESIDENCIA', 'TP_ENSINO', 'TP_DEPENDENCIA_ADM_ESC', 'TP_PRESENCA_CH', 'Q027', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT'], 1, inplace=True)

df_test.drop(['NU_INSCRICAO', 'SG_UF_RESIDENCIA', 'TP_ENSINO', 'TP_DEPENDENCIA_ADM_ESC', 'TP_PRESENCA_CH', 'Q027', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT'], 1, inplace=True)

In [7]:
df_train['TP_SEXO'].replace('M', 0, inplace=True)
df_train['TP_SEXO'].replace('F', 1, inplace=True)

df_test['TP_SEXO'].replace('M', 0, inplace=True)
df_test['TP_SEXO'].replace('F', 1, inplace=True)

In [8]:
# Coloquei as notas como zero pq acredito que representam a nota dos alunos que faltaram.

df_train['NU_NOTA_CN'].fillna(0, inplace=True)
df_train['NU_NOTA_CH'].fillna(0, inplace=True)
df_train['NU_NOTA_LC'].fillna(0, inplace=True)
df_train['NU_NOTA_MT'].fillna(0, inplace=True)
df_train['NU_NOTA_COMP1'].fillna(0, inplace=True)
df_train['NU_NOTA_COMP2'].fillna(0, inplace=True)
df_train['NU_NOTA_COMP3'].fillna(0, inplace=True)
df_train['NU_NOTA_COMP4'].fillna(0, inplace=True)
df_train['NU_NOTA_COMP5'].fillna(0, inplace=True)
df_train['NU_NOTA_REDACAO'].fillna(0, inplace=True)

df_test['NU_NOTA_CN'].fillna(0, inplace=True)
df_test['NU_NOTA_CH'].fillna(0, inplace=True)
df_test['NU_NOTA_LC'].fillna(0, inplace=True)
df_test['NU_NOTA_COMP1'].fillna(0, inplace=True)
df_test['NU_NOTA_COMP2'].fillna(0, inplace=True)
df_test['NU_NOTA_COMP3'].fillna(0, inplace=True)
df_test['NU_NOTA_COMP4'].fillna(0, inplace=True)
df_test['NU_NOTA_COMP5'].fillna(0, inplace=True)
df_test['NU_NOTA_REDACAO'].fillna(0, inplace=True)

# Coloquei como 8 pq acredito que represente uma situaÃ§Ã£o neutra

df_train['TP_STATUS_REDACAO'].fillna(8, inplace=True)

df_test['TP_STATUS_REDACAO'].fillna(8, inplace=True)

In [15]:
df_train = pd.get_dummies(df_train, prefix='Q', columns=['Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q047'])

df_test = pd.get_dummies(df_test, prefix='Q', columns=['Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q047'])

KeyError: "['Q001' 'Q002' 'Q006' 'Q024' 'Q025' 'Q026' 'Q047'] not in index"

In [22]:
var = ['NU_IDADE','IN_TREINEIRO','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_REDACAO', 'CO_MUNICIPIO_RESIDENCIA']
df[var].corr()

,NU_IDADE,IN_TREINEIRO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,CO_MUNICIPIO_RESIDENCIA
NU_IDADE,1.000000,-0.295091,-0.056171,-0.001611,-0.024979,-0.116125,-0.002296
IN_TREINEIRO,-0.295091,1.000000,-0.037874,-0.053460,-0.028261,-0.026328,-0.035317
NU_NOTA_CN,-0.056171,-0.037874,1.000000,0.609543,0.545667,0.459938,0.085643
NU_NOTA_CH,-0.001611,-0.053460,0.609543,1.000000,0.692988,0.550582,0.124272
NU_NOTA_LC,-0.024979,-0.028261,0.545667,0.692988,1.000000,0.512908,0.130161
NU_NOTA_REDACAO,-0.116125,-0.026328,0.459938,0.550582,0.512908,1.000000,0.061549
CO_MUNICIPIO_RESIDENCIA,-0.002296,-0.035317,0.085643,0.124272,0.130161,0.061549,1.000000